#about{
    background-image: url(https://1.bp.blogspot.com/-Qig5cgcTHno/X_M_Vq-nSBI/AAAAAAAACqE/R-33SFjmj_8FmCBmnQtE_iZwDTAhC6e4QCLcBGAsYHQ/s0/About-Us.png);
   width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    .back{
    background-color: #1b164e;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    }
    .about-text{
        color: white;
        position: absolute;
        top: 40%;
        left: 0%;
       z-index: 15;
        span{
            cursor: pointer;
            font: normal normal 12px 'Montserrat';
        }
        .icon-box1{
            i{
                color: #19B1FF;
                font-size: 10px;
                margin-right: 10px;
            }
        }
        
        .icon-box2{
            margin-left: 20px;
            i{
                color: #19B1FF;
                font-size: 10px;
                margin-right: 10px;
            }
        }
    }
    .about-title{
        width: 100%;
        height: 100%;
        color: white;
        position: absolute;
        top: 7%;
        left: 0%;
        z-index: 15;
        h3{
            font: normal bold 60px 'Montserrat';
        }

    }
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
#big-box{
    font-family: 'Montserrat';
    color: white;
padding: 5rem 1rem;
background-color: #1B164E;
.container{
    max-width: 1140px;
}
p{
    padding: 15px 0;
    font: normal normal 18px 'Montserrat';
    line-height: 2!important;
}
.text-box{
    h1{
        font-weight: inherit;
    margin: 20px 0;
    line-height: 1.3!important;
    font-size: 36px;
    font-weight: 700;
    }
}
.img-box{
    img{
        border-radius: 10px;
    }
}
.span-box{
    padding: 20px 0;
}

}
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
#second-box{
    font-family: 'Montserrat';
    color: white;
padding: 4rem 0rem;
background-color: #1B164E; 
img{
   
    border-radius: 12px;
}
.container{
    max-width: 1140px;
}

.text-box3{
   
    h1{
        font-weight: inherit;
    margin: 20px 0;
    line-height: 1.3!important;
    font-size: 36px;
    font-weight: bold;
    }
    p{
        font: normal normal 18px;
    line-height: 2!important;
    }
}
}
///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
#comments{
    font-family: 'Montserrat';
    color: white;
padding: 6rem 2rem;
background-color: #1B164E; 
.container{
    max-width: 1140px;
}
.comment-text{
    h1{
        font-weight: inherit;
    margin: 20px 0;
    line-height: 1.3!important;
    font-size: 36px;
    font-weight: bold;
    }

}
.comment-input{
    padding: 4rem 0;
    input{
        color: white;
        background-color: #1B164E;
        border: none;
        outline: none;
        padding: 5px;
        margin-left: 15px;
    }
}
}
///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
#latest{
    font-family: 'Montserrat';
    color: white;
padding: 6rem 1rem;
background-color: #161242;
.container{
    max-width: 1140px;
}

.all-latest{
    transition: 0.3s ease-in-out;
    border: 1px solid #261f6f;
    background-color: #1B164E;
    border-radius: 15px;
    &:hover{
        transform: translateY(-7px);
    }
    .latest-img{
img{
    border-radius: 15px 15px 0 0;
}
    }
    .latest-icon{
        border-bottom: 1px solid #261f6f;
        padding: 20px;
        i{
            font-size: 10px;
        }
        span{
            margin-left: 10px;
            font: normal normal 12px 'Montserrat';
        }
    }
    .latest-text{
        
        padding: 10px 20px;
        a{
            color: white;
            font-weight: 900;
            text-decoration: none;
            font: normal bold 20px 'Montserrat';
            line-height: 1.6!important;
            transition: 0.3s ease-in-out;
            &:hover{
                color: rgb(151, 150, 150);
            }
        }
        p{
            padding: 10px 0;
            font: normal normal 16px 'Montserrat';
            color: white;
            line-height: 1.9;
          

        }
        button{
            margin: 10px 0;
            border-radius: 4px;
            border: none;
    background-color: #7cd2fd;
    padding: 15px 35px;
    transition: 0.1s ease-in-out;
    position: relative;
    &::after{
        position: absolute;
        top: 28%;

        right: 20px;
        color: white;
        content: "\276F";
    }
    &:hover{
        background-color: #56c3fa;
    }
    a{
        font: normal bold 14px 'Montserrat';
        color: white;
    }
        }
    }
}

}