#footer{
    padding: 6rem 1rem;
    background-color: #171347;
    color: white;
    .slice-text{
      h3{
        font: normal bold 16px 'Montserrat';
      }
    }
    .slice1-list{
        margin: 20px 0;
        li{
            margin-top: 15px;
       
            a{
                text-decoration: none;
                color: white;
                font: normal normal 14px  'Montserrat';
            }
        }

    }
    .slice2-list{
        
            margin: 20px 0;
            li{
               margin-top: 15px;
           
                a{
                    text-decoration: none;
                    color: white;
                    font: normal normal 14px  'Montserrat';
                    transition: 0.3s ease-in-out;
                    margin-top: 15px;
                    &:hover{
                    
                            color: #2165C4;
                        
                    }
                }
            }

        
     
    }
    .footer2{
        padding: 2rem 0;
        .footer-list{
            
            ul{
                li{
                   
                    a{
                       color: white;
                        margin-left: 9px;
                        text-decoration: none;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            color: #67CDFF;
                        }
                        
                    }
                }
            }
        }
        .footer-icons{
            i{
                border-radius: 7px;
                background-color: #1b164e;
                cursor: pointer;
                padding: 6px;
             margin-left: 10px;
             &:hover{
                 background-color: #67CDFF;
                 border-radius: 10px;
                 
             }
            }
         }
        }
        .end{
            padding: 20px 0;
            font: normal bold 14px 'Montserrat';
        }
    }
