@media (max-width: 580px) {
    #change{
        .content3{
            span{
                margin-top: 15px;
                font-size: 15px;
                display: block;
            }
        }
    }
    #header{
        .head-list{
            display: none;
        }
         .header-icons{
             display: none;
         }
    }
    #about{
        .about-title{
            h3{
                font-size: 40px;
            }
        }
    }
   
 
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    #change{
        .content2{
            h3{
                font-size: 30px;
            }
        }
       
    }
    #our-service{
        .serv-text{
            h3{
                font-size: 30px; 
            }
        }
    }
    #footer{
        .footer2{
            display: flex;
            align-items: center;
            text-align: center;
        }
        .text-all{
            margin-top: 20px;
        }
    }

   
 }
 @media (max-width: 995px){
    #header{
      
        .header-list{
              display: none;
          }
          .header-button{
              display: none;
          }
          .search-icon{
              display: none;
          }
      }
      #change{
          .all-content{
              text-align: center;
          }
          .content-img{
            img{
                width: 80%;
            }
        }
      }
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    #change{
        .content2{
            h3{
                width: 100%;
            }
        }
    }
    #latest{
        .all-latest{
            margin-top: 25px;
        }
    }
 
 }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { }