@import'_header';
@import'_footer';
@import'_aboutus';


*{
    margin: 0%;
    padding: 0%;
    
}

#change{
    font-family:"Montserrat";
    position: relative;
    background-color: #1B164E;
    width: 100%;
    background-image:url(https://2.bp.blogspot.com/-fuIIdIPLLhI/X3VfqHEybZI/AAAAAAAAB5Y/xseVOjKw3bk0ArNHQrwBgLpGGbX7YqiXQCK4BGAYYCw/s1600/Ilustracion-01.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top right;
    background-attachment: scroll;
    padding: 150px 0 150px;
    .container{
        max-width: 1140px;
    }
    .content1{
        span{
            padding: 8px 16px;
            color: #1b164e;
            background-color: #ffdb45;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            border-radius: 15px;
        }
       
    }
    .content2{
      
        h3{
            width: 90%;
            font: normal bold 55px 'Montserrat';
            line-height: 1.3;
            padding: 15px 0;
            color: white;
            }

       p{
          
           padding: 10px 0;
           color: white;
           font-size: 18px;
           line-height: 1.8;
           font-weight: 200;
       }
    }
    .content3{
        margin-top: 30px;
       
        button{
           
            
          &.start{
              
            text-decoration: none;
            color: #ffffff;
            font: normal bold 16px 'Montserrat';
            padding: 20px 48px;
            border-radius: 50px;
            background-color: #67cdff;
            
          }
          transition: 0.3s ease-in-out;
          &:hover{
            box-shadow: rgba(4, 18, 32, 0.397) 0px 8px 24px;
            transform:translateY(-4px);
             background-color:#19B1FF;
         }
        }
        button{
            
            // margin-left: 10px;
            padding: 20px 25px;
    color: #1b164e;
    background-color: #ffffff;
 border-radius: 50%;
 border: none;
 transition: 0.3s ease-in-out;
 &.start2{
     margin-left: 20px;
 }
 &:hover{
    box-shadow: rgba(4, 18, 32, 0.397) 0px 8px 24px;
    transform:translateY(-4px);
     background-color: #19B1FF;
     i{
         color: white;
     }
 }
        }
        span{
            margin-left: 20px;
            color: white;
       font-size: 20px;
       font-weight: 600;
        }
    }
   .content-img{
    
       position: relative;
       margin-top: 30px;
   }
 
  
   
}
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
#our-service{
  position: relative;
    background-color: #1B164E;
    width: 100%;
    background-image: url(https://1.bp.blogspot.com/-a4D6ZT2LNd4/X3oipW-vOCI/AAAAAAAAB9k/MF1uksqPKLIPTvfsU2ZZkfVZrxi1U_eFgCK4BGAYYCw/s1600/Recurso%2B44.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 150px 0 150px;
    padding: 4rem 2rem;

    .container{
        max-width: 1140px;
    }
    .serv-text{

        span{
            font-weight: 600;
            padding: 8px 16px;
            color: #1b164e;
            background-color: #ffdb45;
            font-size: 13px;
            text-align: center;
            border-radius: 15px;

        }
        h3{
            color: white;
            width: auto;
            margin: 20px auto;
            line-height: 1.3!important;
            font: normal bold 40px "Montserrat";
            max-width: 600px;
        }
    }
    .serv-box{
        margin-top: 25px;
        color: white;
        background-color: #231D65;
        border: 0px solid #261f6f;
        box-shadow: 0px 9px 25px 0px #171347;
        border-radius: 9px;
        padding: 50px 30px;
        transition: 0.3s ease-in-out;
        &:hover{
            transform: translateY(-10px);
        }
        i{
            font-size: 20px;
            background-color: #67CDFF;
            padding: 20px;
            border-radius: 50%;
        }
        .serv-paragraph{
            h3{
                padding: 10px 0;
                font-weight: bold;
                line-height: 1.3;
                font-size: 20px;
            }
            p{
             
            font: normal normal 16px 'Montserrat';
            line-height: 2;

            }
        }

    }

    }
    

@import'_responsive';